# ==========================================
# CONFIGURACION DE BASE DE DATOS (POSTGRESQL)
# ==========================================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=suite_data_db
DB_USER=postgres
DB_PASSWORD=tu_contrasena_segura

# ==========================================
# CONFIGURACION DE NOTIFICACIONES (RESEND)
# ==========================================
RESEND_API_KEY=re_123456789
EMAIL_FROM=onboarding@resend.dev
EMAIL_TO=equipo@proesa.org.co,otro@banco.org
