# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal
suite_data.db

# Data files

# Logs
*.log
match_*.log

# Temp / Scratch
scratch/

# OS/IDE
.DS_Store
.vscode/
.idea/
*.swp

